.container {
    border: .05rem solid black;
    padding: 2rem;
    height: 10rem;
    border-radius: 5%;
    text-align: center;
}
.addToCartButton {
    background-color: orange;
    padding: .3rem .6rem;
}